.container1{
  background-image: url(https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821_1280.jpg);
  background-size:cover;
  padding: 100px; 
}
.fondo3{
    padding:20px;
    margin: 25px;
    background-color:#fff2e6 ;
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;

  }
  
  
   

 .estilo1{
text-align:center;
color: #ffcccc ;
margin:25px; 

  
}
.estilo2{
  color:white;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  
} 


  .button1{
    border:none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: navajowhite;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
    .estilo5{
    text-align: center;
    font: italic small bold 12px/30px Georgia;
    font-size: 20px;    
    color:black;    
   
}
*formulario{
  
  font: italic small-caps bold 12px/30px Georgia, serif;
  
}

.style3{
  color:black;
  font-family: 'Caveat', cursive;
  font-size: x-large;
}
  .container2{
    background-color:  #ffe6cc;
    text-align:center;
    padding: 74px;
    margin: 25px;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    /* font-family: 'Shadows Into Light', cursive;
    font-size: large */
    }
  
.container3{ 
  background-color:#ffd9b3 ;
  margin:25px;
  

}
.w3-col s6{
  background-color:#ffd9b3 ;

}
.container4{
  background-color:  #ffe6cc;   
    margin: 25px;
}
.container5{
  background-color:#ffcc99  ;  
    margin: 25px;
}
.container6{
  background-color: #fcbe7f8c  ;  
   margin:25px;
}
.container7{
  background-color:#ffebcc ;
  margin:25px;

}
.footer{
  text-align: right;  
  color:		 #0000b3 ;
  background-color: #ff6666;
}
.boton{background-color:#FA8072 ; 
 padding-bottom: 10px 24px;
  color: white;
  cursor: pointer; 
  float: left ;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


.btn-group button:hover {
  background-color:#FA8072 ;
}
#more {display: none;}

.colorletra{
  font-family: 'Caveat', cursive;
  font-size: xx-large;
}
